:root {
    --color-primary: #006A71;
    --color-secondary: #48A6A7;
    --color-accent: #bde2e6;

    --color-organe: #F8B324;

    --color-white: #ffffff;
    --color-gray: #F2F2F2;
    --color-red: #b92d2d;
    --color-background: #9ACBD0;
}