<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <div id="footer">
        <img id="info-logo" src="../image/logo_Doan.png">

        <div class="info-group">
            <div>ĐOÀN KHOA CÔNG NGHỆ THÔNG TIN</div>
            <div>Địa chỉ: Văn phòng C004 - Trường Đại học Tôn Đức Thắng</div>
            <div>19 Nguyễn Hữu Thọ, Tân Phong, TP. Hồ Chí Minh</div>
        </div>

        <div class="info-group">
            <a href="https://www.facebook.com/it.tdtu/">🌐 Page: Đoàn - Hội khoa Công nghệ thông tin</a>
            <a href="mail:doancntt@tdtu.edu.vn">📧 Email: doancntt@tdtu.edu.vn</a>
            <a href="tel:(028)37755046">☎️ Phone: (028) 37755046</a>
        </div>
    </div>
</body>

</html>